body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5496 {
  position:absolute;
  left:104px;
  top:168px;
  width:804px;
  height:171px;
}
#u5497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u5497 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u5498 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u5499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u5499 {
  position:absolute;
  left:183px;
  top:0px;
  width:191px;
  height:39px;
}
#u5500 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u5501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:39px;
}
#u5501 {
  position:absolute;
  left:374px;
  top:0px;
  width:225px;
  height:39px;
}
#u5502 {
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u5503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:39px;
}
#u5503 {
  position:absolute;
  left:599px;
  top:0px;
  width:200px;
  height:39px;
}
#u5504 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u5505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:61px;
}
#u5505 {
  position:absolute;
  left:0px;
  top:39px;
  width:183px;
  height:61px;
}
#u5506 {
  position:absolute;
  left:2px;
  top:22px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:61px;
}
#u5507 {
  position:absolute;
  left:183px;
  top:39px;
  width:191px;
  height:61px;
}
#u5508 {
  position:absolute;
  left:2px;
  top:22px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:61px;
}
#u5509 {
  position:absolute;
  left:374px;
  top:39px;
  width:225px;
  height:61px;
}
#u5510 {
  position:absolute;
  left:2px;
  top:22px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:61px;
}
#u5511 {
  position:absolute;
  left:599px;
  top:39px;
  width:200px;
  height:61px;
}
#u5512 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u5513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:66px;
}
#u5513 {
  position:absolute;
  left:0px;
  top:100px;
  width:183px;
  height:66px;
}
#u5514 {
  position:absolute;
  left:2px;
  top:25px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:66px;
}
#u5515 {
  position:absolute;
  left:183px;
  top:100px;
  width:191px;
  height:66px;
}
#u5516 {
  position:absolute;
  left:2px;
  top:25px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:66px;
}
#u5517 {
  position:absolute;
  left:374px;
  top:100px;
  width:225px;
  height:66px;
}
#u5518 {
  position:absolute;
  left:2px;
  top:25px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:66px;
}
#u5519 {
  position:absolute;
  left:599px;
  top:100px;
  width:200px;
  height:66px;
}
#u5520 {
  position:absolute;
  left:2px;
  top:25px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5521 {
  position:absolute;
  left:104px;
  top:123px;
  width:120px;
  height:25px;
}
#u5521_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5522 {
  position:absolute;
  left:104px;
  top:65px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5523 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5524 {
  position:absolute;
  left:214px;
  top:56px;
  width:84px;
  height:40px;
}
#u5525 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u5526 {
  position:absolute;
  left:234px;
  top:123px;
  width:120px;
  height:25px;
}
#u5526_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
