body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1466px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:527px;
}
#u0 {
  position:absolute;
  left:54px;
  top:51px;
  width:1412px;
  height:527px;
}
#u1 {
  position:absolute;
  left:2px;
  top:256px;
  width:1408px;
  visibility:hidden;
  word-wrap:break-word;
}
