body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:178px;
  width:676px;
  height:230px;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:0px;
  width:225px;
  height:30px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:226px;
  height:30px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:225px;
  height:30px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  word-wrap:break-word;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:30px;
  width:225px;
  height:30px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:30px;
  width:226px;
  height:30px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:225px;
  height:30px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:60px;
  width:225px;
  height:30px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:30px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:60px;
  width:226px;
  height:30px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:36px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:225px;
  height:36px;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:221px;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:36px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:90px;
  width:225px;
  height:36px;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:221px;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:36px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:90px;
  width:226px;
  height:36px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:36px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:225px;
  height:36px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:221px;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:36px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:126px;
  width:225px;
  height:36px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:221px;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:36px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:126px;
  width:226px;
  height:36px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:222px;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:68px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:225px;
  height:68px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:221px;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:68px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:162px;
  width:225px;
  height:68px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:221px;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:68px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:162px;
  width:226px;
  height:68px;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:222px;
  word-wrap:break-word;
}
