body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2737px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1846 {
  position:absolute;
  left:156px;
  top:895px;
  width:161px;
  height:51px;
}
#u1847 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1848 {
  position:absolute;
  left:862px;
  top:764px;
  width:161px;
  height:51px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1850 {
  position:absolute;
  left:156px;
  top:764px;
  width:161px;
  height:51px;
}
#u1851 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1852 {
  position:absolute;
  left:412px;
  top:895px;
  width:161px;
  height:51px;
}
#u1853 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u1854 {
  position:absolute;
  left:618px;
  top:895px;
  width:161px;
  height:51px;
}
#u1855 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u1856 {
  position:absolute;
  left:1041px;
  top:895px;
  width:161px;
  height:51px;
}
#u1857 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1858 {
  position:absolute;
  left:1041px;
  top:996px;
  width:161px;
  height:51px;
}
#u1859 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1860 {
  position:absolute;
  left:1263px;
  top:764px;
  width:161px;
  height:51px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1862 {
  position:absolute;
  left:1484px;
  top:764px;
  width:161px;
  height:51px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1864 {
  position:absolute;
  left:1725px;
  top:764px;
  width:161px;
  height:51px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u1866 {
  position:absolute;
  left:1944px;
  top:764px;
  width:161px;
  height:51px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1868 {
  position:absolute;
  left:2170px;
  top:764px;
  width:161px;
  height:51px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u1870 {
  position:absolute;
  left:1944px;
  top:888px;
  width:161px;
  height:51px;
}
#u1871 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u1872 {
  position:absolute;
  left:618px;
  top:764px;
  width:161px;
  height:51px;
}
#u1873 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1874 {
  position:absolute;
  left:618px;
  top:996px;
  width:161px;
  height:51px;
}
#u1875 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1876 {
  position:absolute;
  left:618px;
  top:667px;
  width:161px;
  height:51px;
}
#u1877 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u1878 {
  position:absolute;
  left:678px;
  top:325px;
  width:161px;
  height:51px;
}
#u1879 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1880 {
  position:absolute;
  left:905px;
  top:208px;
  width:161px;
  height:51px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1882 {
  position:absolute;
  left:156px;
  top:325px;
  width:161px;
  height:51px;
}
#u1883 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1884 {
  position:absolute;
  left:437px;
  top:325px;
  width:161px;
  height:51px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1886 {
  position:absolute;
  left:1131px;
  top:208px;
  width:161px;
  height:51px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1888 {
  position:absolute;
  left:1355px;
  top:208px;
  width:161px;
  height:51px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u1890 {
  position:absolute;
  left:1602px;
  top:208px;
  width:161px;
  height:51px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u1892 {
  position:absolute;
  left:1930px;
  top:325px;
  width:161px;
  height:51px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1894 {
  position:absolute;
  left:2338px;
  top:208px;
  width:161px;
  height:51px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1896 {
  position:absolute;
  left:317px;
  top:351px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1896_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u1896_seg1 {
  position:absolute;
  left:105px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1897 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1898 {
  position:absolute;
  left:156px;
  top:208px;
  width:161px;
  height:51px;
}
#u1899 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1900 {
  position:absolute;
  left:598px;
  top:351px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1900_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u1900_seg1 {
  position:absolute;
  left:65px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1901 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902 {
  position:absolute;
  left:839px;
  top:351px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1902_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:39px;
  height:8px;
}
#u1902_seg1 {
  position:absolute;
  left:31px;
  top:-121px;
  width:8px;
  height:125px;
}
#u1902_seg2 {
  position:absolute;
  left:31px;
  top:-121px;
  width:35px;
  height:8px;
}
#u1902_seg3 {
  position:absolute;
  left:51px;
  top:-127px;
  width:20px;
  height:20px;
}
#u1903 {
  position:absolute;
  left:-15px;
  top:-66px;
  width:100px;
  word-wrap:break-word;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1904 {
  position:absolute;
  left:678px;
  top:208px;
  width:161px;
  height:51px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1906 {
  position:absolute;
  left:759px;
  top:325px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1906_seg0 {
  position:absolute;
  left:-4px;
  top:-66px;
  width:8px;
  height:70px;
}
#u1906_seg1 {
  position:absolute;
  left:-10px;
  top:-71px;
  width:20px;
  height:20px;
}
#u1907 {
  position:absolute;
  left:-50px;
  top:-42px;
  width:100px;
  word-wrap:break-word;
}
#u1908 {
  position:absolute;
  left:1066px;
  top:234px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1908_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u1908_seg1 {
  position:absolute;
  left:50px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1909 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910 {
  position:absolute;
  left:1292px;
  top:234px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1910_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u1910_seg1 {
  position:absolute;
  left:48px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1911 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912 {
  position:absolute;
  left:1516px;
  top:234px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1912_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u1912_seg1 {
  position:absolute;
  left:71px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1913 {
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914 {
  position:absolute;
  left:1763px;
  top:234px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1914_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:252px;
  height:8px;
}
#u1914_seg1 {
  position:absolute;
  left:244px;
  top:-4px;
  width:8px;
  height:95px;
}
#u1914_seg2 {
  position:absolute;
  left:238px;
  top:76px;
  width:20px;
  height:20px;
}
#u1915 {
  position:absolute;
  left:120px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u1916 {
  position:absolute;
  left:2091px;
  top:351px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1916_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:153px;
  height:8px;
}
#u1916_seg1 {
  position:absolute;
  left:145px;
  top:-92px;
  width:8px;
  height:96px;
}
#u1916_seg2 {
  position:absolute;
  left:139px;
  top:-97px;
  width:20px;
  height:20px;
}
#u1917 {
  position:absolute;
  left:70px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1918 {
  position:absolute;
  left:2159px;
  top:208px;
  width:161px;
  height:51px;
}
#u1919 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1920 {
  position:absolute;
  left:2011px;
  top:376px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1920_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u1920_seg1 {
  position:absolute;
  left:-4px;
  top:10px;
  width:416px;
  height:8px;
}
#u1920_seg2 {
  position:absolute;
  left:404px;
  top:-117px;
  width:8px;
  height:135px;
}
#u1920_seg3 {
  position:absolute;
  left:398px;
  top:-122px;
  width:20px;
  height:20px;
}
#u1921 {
  position:absolute;
  left:212px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1922 {
  position:absolute;
  left:317px;
  top:921px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1922_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u1922_seg1 {
  position:absolute;
  left:80px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1923 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1924 {
  position:absolute;
  left:699px;
  top:895px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1924_seg0 {
  position:absolute;
  left:-4px;
  top:-80px;
  width:8px;
  height:84px;
}
#u1924_seg1 {
  position:absolute;
  left:-10px;
  top:-85px;
  width:20px;
  height:20px;
}
#u1925 {
  position:absolute;
  left:-50px;
  top:-50px;
  width:100px;
  word-wrap:break-word;
}
#u1926 {
  position:absolute;
  left:573px;
  top:921px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1926_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u1926_seg1 {
  position:absolute;
  left:30px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1927 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928 {
  position:absolute;
  left:699px;
  top:946px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1928_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u1928_seg1 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u1929 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u1930 {
  position:absolute;
  left:779px;
  top:790px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1930_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:87px;
  height:8px;
}
#u1930_seg1 {
  position:absolute;
  left:68px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1931 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u1932 {
  position:absolute;
  left:699px;
  top:764px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1932_seg0 {
  position:absolute;
  left:-4px;
  top:-46px;
  width:8px;
  height:50px;
}
#u1932_seg1 {
  position:absolute;
  left:-10px;
  top:-51px;
  width:20px;
  height:20px;
}
#u1933 {
  position:absolute;
  left:-50px;
  top:-32px;
  width:100px;
  word-wrap:break-word;
}
#u1934 {
  position:absolute;
  left:1023px;
  top:790px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1934_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:103px;
  height:8px;
}
#u1934_seg1 {
  position:absolute;
  left:95px;
  top:-4px;
  width:8px;
  height:109px;
}
#u1934_seg2 {
  position:absolute;
  left:89px;
  top:90px;
  width:20px;
  height:20px;
}
#u1935 {
  position:absolute;
  left:49px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936 {
  position:absolute;
  left:1122px;
  top:946px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1936_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u1936_seg1 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u1937 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u1938 {
  position:absolute;
  left:1202px;
  top:921px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1938_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:146px;
  height:8px;
}
#u1938_seg1 {
  position:absolute;
  left:138px;
  top:-106px;
  width:8px;
  height:110px;
}
#u1938_seg2 {
  position:absolute;
  left:132px;
  top:-111px;
  width:20px;
  height:20px;
}
#u1939 {
  position:absolute;
  left:74px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u1940 {
  position:absolute;
  left:1202px;
  top:1022px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1940_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:367px;
  height:8px;
}
#u1940_seg1 {
  position:absolute;
  left:359px;
  top:-207px;
  width:8px;
  height:211px;
}
#u1940_seg2 {
  position:absolute;
  left:353px;
  top:-212px;
  width:20px;
  height:20px;
}
#u1941 {
  position:absolute;
  left:235px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942 {
  position:absolute;
  left:1645px;
  top:790px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1942_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u1942_seg1 {
  position:absolute;
  left:65px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1943 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944 {
  position:absolute;
  left:1886px;
  top:790px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1944_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u1944_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1945 {
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946 {
  position:absolute;
  left:2025px;
  top:815px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1946_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u1946_seg1 {
  position:absolute;
  left:-10px;
  top:58px;
  width:20px;
  height:20px;
}
#u1947 {
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  word-wrap:break-word;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1948 {
  position:absolute;
  left:2377px;
  top:649px;
  width:161px;
  height:51px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1950 {
  position:absolute;
  left:2025px;
  top:764px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1950_seg0 {
  position:absolute;
  left:-4px;
  top:-93px;
  width:8px;
  height:93px;
}
#u1950_seg1 {
  position:absolute;
  left:-4px;
  top:-93px;
  width:356px;
  height:8px;
}
#u1950_seg2 {
  position:absolute;
  left:337px;
  top:-99px;
  width:20px;
  height:20px;
}
#u1951 {
  position:absolute;
  left:82px;
  top:-98px;
  width:100px;
  word-wrap:break-word;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
}
#u1952 {
  position:absolute;
  left:2170px;
  top:888px;
  width:161px;
  height:51px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1954 {
  position:absolute;
  left:2105px;
  top:914px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1954_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u1954_seg1 {
  position:absolute;
  left:50px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1955 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956 {
  position:absolute;
  left:2251px;
  top:888px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1956_seg0 {
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:77px;
}
#u1956_seg1 {
  position:absolute;
  left:-10px;
  top:-78px;
  width:20px;
  height:20px;
}
#u1957 {
  position:absolute;
  left:-50px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
}
#u1958 {
  position:absolute;
  left:2251px;
  top:939px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1958_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u1958_seg1 {
  position:absolute;
  left:-4px;
  top:7px;
  width:215px;
  height:8px;
}
#u1958_seg2 {
  position:absolute;
  left:203px;
  top:-239px;
  width:8px;
  height:254px;
}
#u1958_seg3 {
  position:absolute;
  left:197px;
  top:-244px;
  width:20px;
  height:20px;
}
#u1959 {
  position:absolute;
  left:157px;
  top:-14px;
  width:100px;
  word-wrap:break-word;
}
#u1960 {
  position:absolute;
  left:2025px;
  top:939px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1960_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u1960_seg1 {
  position:absolute;
  left:-4px;
  top:70px;
  width:441px;
  height:8px;
}
#u1960_seg2 {
  position:absolute;
  left:429px;
  top:-235px;
  width:8px;
  height:313px;
}
#u1960_seg3 {
  position:absolute;
  left:423px;
  top:-240px;
  width:20px;
  height:20px;
}
#u1961 {
  position:absolute;
  left:284px;
  top:64px;
  width:100px;
  word-wrap:break-word;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u1962 {
  position:absolute;
  left:156px;
  top:110px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u1964 {
  position:absolute;
  left:156px;
  top:602px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1966 {
  position:absolute;
  left:2576px;
  top:649px;
  width:161px;
  height:51px;
}
#u1967 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1968 {
  position:absolute;
  left:2538px;
  top:675px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1968_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u1968_seg1 {
  position:absolute;
  left:23px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1969 {
  position:absolute;
  left:-31px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1970 {
  position:absolute;
  left:1131px;
  top:325px;
  width:161px;
  height:51px;
  color:#FF0000;
}
#u1971 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1972 {
  position:absolute;
  left:2533px;
  top:208px;
  width:161px;
  height:51px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1974 {
  position:absolute;
  left:2499px;
  top:234px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1974_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u1974_seg1 {
  position:absolute;
  left:19px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1975 {
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1976 {
  position:absolute;
  left:1602px;
  top:110px;
  width:161px;
  height:51px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1978 {
  position:absolute;
  left:1683px;
  top:208px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1978_seg0 {
  position:absolute;
  left:-4px;
  top:-47px;
  width:8px;
  height:51px;
}
#u1978_seg1 {
  position:absolute;
  left:-10px;
  top:-52px;
  width:20px;
  height:20px;
}
#u1979 {
  position:absolute;
  left:-50px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1980 {
  position:absolute;
  left:1214px;
  top:1086px;
  width:161px;
  height:51px;
  color:#FF0000;
}
#u1981 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:82px;
}
#u1982 {
  position:absolute;
  left:1211px;
  top:1023px;
  width:1px;
  height:81px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1983 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:51px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u1984 {
  position:absolute;
  left:1484px;
  top:680px;
  width:161px;
  height:51px;
  color:#FF3300;
}
#u1985 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1986 {
  position:absolute;
  left:1565px;
  top:764px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1986_seg0 {
  position:absolute;
  left:-4px;
  top:-33px;
  width:8px;
  height:37px;
}
#u1986_seg1 {
  position:absolute;
  left:-10px;
  top:-38px;
  width:20px;
  height:20px;
}
#u1987 {
  position:absolute;
  left:-50px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988 {
  position:absolute;
  left:1212px;
  top:259px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u1988_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u1988_seg1 {
  position:absolute;
  left:-10px;
  top:51px;
  width:20px;
  height:20px;
}
#u1989 {
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
