body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:703px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5471 {
  position:absolute;
  left:104px;
  top:168px;
  width:604px;
  height:171px;
}
#u5472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u5472 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:39px;
}
#u5473 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  word-wrap:break-word;
}
#u5474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:39px;
}
#u5474 {
  position:absolute;
  left:183px;
  top:0px;
  width:191px;
  height:39px;
}
#u5475 {
  position:absolute;
  left:2px;
  top:12px;
  width:187px;
  word-wrap:break-word;
}
#u5476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:39px;
}
#u5476 {
  position:absolute;
  left:374px;
  top:0px;
  width:225px;
  height:39px;
}
#u5477 {
  position:absolute;
  left:2px;
  top:12px;
  width:221px;
  word-wrap:break-word;
}
#u5478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:61px;
}
#u5478 {
  position:absolute;
  left:0px;
  top:39px;
  width:183px;
  height:61px;
}
#u5479 {
  position:absolute;
  left:2px;
  top:22px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:61px;
}
#u5480 {
  position:absolute;
  left:183px;
  top:39px;
  width:191px;
  height:61px;
}
#u5481 {
  position:absolute;
  left:2px;
  top:22px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:61px;
}
#u5482 {
  position:absolute;
  left:374px;
  top:39px;
  width:225px;
  height:61px;
}
#u5483 {
  position:absolute;
  left:2px;
  top:22px;
  width:221px;
  word-wrap:break-word;
}
#u5484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:66px;
}
#u5484 {
  position:absolute;
  left:0px;
  top:100px;
  width:183px;
  height:66px;
}
#u5485 {
  position:absolute;
  left:2px;
  top:25px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:66px;
}
#u5486 {
  position:absolute;
  left:183px;
  top:100px;
  width:191px;
  height:66px;
}
#u5487 {
  position:absolute;
  left:2px;
  top:25px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:66px;
}
#u5488 {
  position:absolute;
  left:374px;
  top:100px;
  width:225px;
  height:66px;
}
#u5489 {
  position:absolute;
  left:2px;
  top:25px;
  width:221px;
  word-wrap:break-word;
}
#u5490 {
  position:absolute;
  left:104px;
  top:123px;
  width:120px;
  height:25px;
}
#u5490_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5491 {
  position:absolute;
  left:104px;
  top:65px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5492 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5493 {
  position:absolute;
  left:214px;
  top:56px;
  width:84px;
  height:40px;
}
#u5494 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u5495 {
  position:absolute;
  left:234px;
  top:123px;
  width:120px;
  height:25px;
}
#u5495_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
