body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1271px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1906 {
  position:absolute;
  left:126px;
  top:220px;
  width:1150px;
  height:204px;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:26px;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:26px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:5px;
  width:104px;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u1909 {
  position:absolute;
  left:108px;
  top:0px;
  width:145px;
  height:26px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:26px;
}
#u1911 {
  position:absolute;
  left:253px;
  top:0px;
  width:155px;
  height:26px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:5px;
  width:151px;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:26px;
}
#u1913 {
  position:absolute;
  left:408px;
  top:0px;
  width:173px;
  height:26px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:5px;
  width:169px;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
}
#u1915 {
  position:absolute;
  left:581px;
  top:0px;
  width:161px;
  height:26px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:5px;
  width:157px;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:26px;
}
#u1917 {
  position:absolute;
  left:742px;
  top:0px;
  width:165px;
  height:26px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:5px;
  width:161px;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:26px;
}
#u1919 {
  position:absolute;
  left:907px;
  top:0px;
  width:238px;
  height:26px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:5px;
  width:234px;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:89px;
}
#u1921 {
  position:absolute;
  left:0px;
  top:26px;
  width:108px;
  height:89px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:36px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:89px;
}
#u1923 {
  position:absolute;
  left:108px;
  top:26px;
  width:145px;
  height:89px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:36px;
  width:141px;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:89px;
}
#u1925 {
  position:absolute;
  left:253px;
  top:26px;
  width:155px;
  height:89px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:36px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:89px;
}
#u1927 {
  position:absolute;
  left:408px;
  top:26px;
  width:173px;
  height:89px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:36px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:89px;
}
#u1929 {
  position:absolute;
  left:581px;
  top:26px;
  width:161px;
  height:89px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:36px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:89px;
}
#u1931 {
  position:absolute;
  left:742px;
  top:26px;
  width:165px;
  height:89px;
  text-align:left;
}
#u1932 {
  position:absolute;
  left:2px;
  top:36px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u1933 {
  position:absolute;
  left:907px;
  top:26px;
  width:238px;
  height:89px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:28px;
  width:234px;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:84px;
}
#u1935 {
  position:absolute;
  left:0px;
  top:115px;
  width:108px;
  height:84px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:34px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:84px;
}
#u1937 {
  position:absolute;
  left:108px;
  top:115px;
  width:145px;
  height:84px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:84px;
}
#u1939 {
  position:absolute;
  left:253px;
  top:115px;
  width:155px;
  height:84px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:34px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:84px;
}
#u1941 {
  position:absolute;
  left:408px;
  top:115px;
  width:173px;
  height:84px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:34px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:84px;
}
#u1943 {
  position:absolute;
  left:581px;
  top:115px;
  width:161px;
  height:84px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:34px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:84px;
}
#u1945 {
  position:absolute;
  left:742px;
  top:115px;
  width:165px;
  height:84px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u1946 {
  position:absolute;
  left:2px;
  top:34px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:84px;
}
#u1947 {
  position:absolute;
  left:907px;
  top:115px;
  width:238px;
  height:84px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:26px;
  width:234px;
  word-wrap:break-word;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1949 {
  position:absolute;
  left:126px;
  top:97px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1951 {
  position:absolute;
  left:212px;
  top:158px;
  width:102px;
  height:25px;
}
#u1951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1952 {
  position:absolute;
  left:133px;
  top:161px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1953 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1954 {
  position:absolute;
  left:358px;
  top:161px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1956 {
  position:absolute;
  left:441px;
  top:161px;
  width:90px;
  height:22px;
}
#u1956_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1956_input:disabled {
  color:grayText;
}
#u1957 {
  position:absolute;
  left:658px;
  top:158px;
  width:102px;
  height:25px;
}
#u1957_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1958 {
  position:absolute;
  left:576px;
  top:161px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1960 {
  position:absolute;
  left:785px;
  top:154px;
  width:80px;
  height:31px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
