body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1271px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2920 {
  position:absolute;
  left:126px;
  top:220px;
  width:1150px;
  height:204px;
}
#u2921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:26px;
}
#u2921 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:26px;
}
#u2922 {
  position:absolute;
  left:2px;
  top:5px;
  width:104px;
  word-wrap:break-word;
}
#u2923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u2923 {
  position:absolute;
  left:108px;
  top:0px;
  width:145px;
  height:26px;
}
#u2924 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:26px;
}
#u2925 {
  position:absolute;
  left:253px;
  top:0px;
  width:155px;
  height:26px;
}
#u2926 {
  position:absolute;
  left:2px;
  top:5px;
  width:151px;
  word-wrap:break-word;
}
#u2927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:26px;
}
#u2927 {
  position:absolute;
  left:408px;
  top:0px;
  width:173px;
  height:26px;
}
#u2928 {
  position:absolute;
  left:2px;
  top:5px;
  width:169px;
  word-wrap:break-word;
}
#u2929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
}
#u2929 {
  position:absolute;
  left:581px;
  top:0px;
  width:161px;
  height:26px;
}
#u2930 {
  position:absolute;
  left:2px;
  top:5px;
  width:157px;
  word-wrap:break-word;
}
#u2931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:26px;
}
#u2931 {
  position:absolute;
  left:742px;
  top:0px;
  width:165px;
  height:26px;
}
#u2932 {
  position:absolute;
  left:2px;
  top:5px;
  width:161px;
  word-wrap:break-word;
}
#u2933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:26px;
}
#u2933 {
  position:absolute;
  left:907px;
  top:0px;
  width:238px;
  height:26px;
}
#u2934 {
  position:absolute;
  left:2px;
  top:5px;
  width:234px;
  word-wrap:break-word;
}
#u2935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:89px;
}
#u2935 {
  position:absolute;
  left:0px;
  top:26px;
  width:108px;
  height:89px;
}
#u2936 {
  position:absolute;
  left:2px;
  top:36px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:89px;
}
#u2937 {
  position:absolute;
  left:108px;
  top:26px;
  width:145px;
  height:89px;
}
#u2938 {
  position:absolute;
  left:2px;
  top:36px;
  width:141px;
  word-wrap:break-word;
}
#u2939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:89px;
}
#u2939 {
  position:absolute;
  left:253px;
  top:26px;
  width:155px;
  height:89px;
}
#u2940 {
  position:absolute;
  left:2px;
  top:36px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:89px;
}
#u2941 {
  position:absolute;
  left:408px;
  top:26px;
  width:173px;
  height:89px;
}
#u2942 {
  position:absolute;
  left:2px;
  top:36px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:89px;
}
#u2943 {
  position:absolute;
  left:581px;
  top:26px;
  width:161px;
  height:89px;
}
#u2944 {
  position:absolute;
  left:2px;
  top:36px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:89px;
}
#u2945 {
  position:absolute;
  left:742px;
  top:26px;
  width:165px;
  height:89px;
  text-align:left;
}
#u2946 {
  position:absolute;
  left:2px;
  top:36px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u2947 {
  position:absolute;
  left:907px;
  top:26px;
  width:238px;
  height:89px;
}
#u2948 {
  position:absolute;
  left:2px;
  top:28px;
  width:234px;
  word-wrap:break-word;
}
#u2949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:84px;
}
#u2949 {
  position:absolute;
  left:0px;
  top:115px;
  width:108px;
  height:84px;
}
#u2950 {
  position:absolute;
  left:2px;
  top:34px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:84px;
}
#u2951 {
  position:absolute;
  left:108px;
  top:115px;
  width:145px;
  height:84px;
}
#u2952 {
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u2953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:84px;
}
#u2953 {
  position:absolute;
  left:253px;
  top:115px;
  width:155px;
  height:84px;
}
#u2954 {
  position:absolute;
  left:2px;
  top:34px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:84px;
}
#u2955 {
  position:absolute;
  left:408px;
  top:115px;
  width:173px;
  height:84px;
}
#u2956 {
  position:absolute;
  left:2px;
  top:34px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:84px;
}
#u2957 {
  position:absolute;
  left:581px;
  top:115px;
  width:161px;
  height:84px;
}
#u2958 {
  position:absolute;
  left:2px;
  top:34px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:84px;
}
#u2959 {
  position:absolute;
  left:742px;
  top:115px;
  width:165px;
  height:84px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u2960 {
  position:absolute;
  left:2px;
  top:34px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:84px;
}
#u2961 {
  position:absolute;
  left:907px;
  top:115px;
  width:238px;
  height:84px;
}
#u2962 {
  position:absolute;
  left:2px;
  top:26px;
  width:234px;
  word-wrap:break-word;
}
#u2963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2963 {
  position:absolute;
  left:126px;
  top:97px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2964 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2965 {
  position:absolute;
  left:212px;
  top:158px;
  width:102px;
  height:25px;
}
#u2965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2966 {
  position:absolute;
  left:133px;
  top:161px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2967 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2968 {
  position:absolute;
  left:358px;
  top:161px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2969 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2970 {
  position:absolute;
  left:441px;
  top:161px;
  width:90px;
  height:22px;
}
#u2970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2970_input:disabled {
  color:grayText;
}
#u2971 {
  position:absolute;
  left:658px;
  top:158px;
  width:102px;
  height:25px;
}
#u2971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2972 {
  position:absolute;
  left:576px;
  top:161px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2973 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2974 {
  position:absolute;
  left:785px;
  top:154px;
  width:80px;
  height:31px;
}
#u2975 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u2976 {
  position:absolute;
  left:126px;
  top:630px;
  width:1148px;
  height:204px;
}
#u2977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:26px;
}
#u2977 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:26px;
}
#u2978 {
  position:absolute;
  left:2px;
  top:5px;
  width:104px;
  word-wrap:break-word;
}
#u2979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u2979 {
  position:absolute;
  left:108px;
  top:0px;
  width:145px;
  height:26px;
}
#u2980 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  word-wrap:break-word;
}
#u2981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:26px;
}
#u2981 {
  position:absolute;
  left:253px;
  top:0px;
  width:155px;
  height:26px;
}
#u2982 {
  position:absolute;
  left:2px;
  top:5px;
  width:151px;
  word-wrap:break-word;
}
#u2983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:26px;
}
#u2983 {
  position:absolute;
  left:408px;
  top:0px;
  width:173px;
  height:26px;
}
#u2984 {
  position:absolute;
  left:2px;
  top:5px;
  width:169px;
  word-wrap:break-word;
}
#u2985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
}
#u2985 {
  position:absolute;
  left:581px;
  top:0px;
  width:161px;
  height:26px;
}
#u2986 {
  position:absolute;
  left:2px;
  top:5px;
  width:157px;
  word-wrap:break-word;
}
#u2987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:26px;
}
#u2987 {
  position:absolute;
  left:742px;
  top:0px;
  width:163px;
  height:26px;
}
#u2988 {
  position:absolute;
  left:2px;
  top:5px;
  width:159px;
  word-wrap:break-word;
}
#u2989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:26px;
}
#u2989 {
  position:absolute;
  left:905px;
  top:0px;
  width:238px;
  height:26px;
}
#u2990 {
  position:absolute;
  left:2px;
  top:5px;
  width:234px;
  word-wrap:break-word;
}
#u2991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:89px;
}
#u2991 {
  position:absolute;
  left:0px;
  top:26px;
  width:108px;
  height:89px;
}
#u2992 {
  position:absolute;
  left:2px;
  top:36px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:89px;
}
#u2993 {
  position:absolute;
  left:108px;
  top:26px;
  width:145px;
  height:89px;
}
#u2994 {
  position:absolute;
  left:2px;
  top:36px;
  width:141px;
  word-wrap:break-word;
}
#u2995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:89px;
}
#u2995 {
  position:absolute;
  left:253px;
  top:26px;
  width:155px;
  height:89px;
}
#u2996 {
  position:absolute;
  left:2px;
  top:36px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:89px;
}
#u2997 {
  position:absolute;
  left:408px;
  top:26px;
  width:173px;
  height:89px;
}
#u2998 {
  position:absolute;
  left:2px;
  top:36px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:89px;
}
#u2999 {
  position:absolute;
  left:581px;
  top:26px;
  width:161px;
  height:89px;
}
#u3000 {
  position:absolute;
  left:2px;
  top:36px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:89px;
}
#u3001 {
  position:absolute;
  left:742px;
  top:26px;
  width:163px;
  height:89px;
}
#u3002 {
  position:absolute;
  left:2px;
  top:36px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:89px;
}
#u3003 {
  position:absolute;
  left:905px;
  top:26px;
  width:238px;
  height:89px;
}
#u3004 {
  position:absolute;
  left:2px;
  top:28px;
  width:234px;
  word-wrap:break-word;
}
#u3005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:84px;
}
#u3005 {
  position:absolute;
  left:0px;
  top:115px;
  width:108px;
  height:84px;
}
#u3006 {
  position:absolute;
  left:2px;
  top:34px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:84px;
}
#u3007 {
  position:absolute;
  left:108px;
  top:115px;
  width:145px;
  height:84px;
}
#u3008 {
  position:absolute;
  left:2px;
  top:34px;
  width:141px;
  word-wrap:break-word;
}
#u3009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:84px;
}
#u3009 {
  position:absolute;
  left:253px;
  top:115px;
  width:155px;
  height:84px;
}
#u3010 {
  position:absolute;
  left:2px;
  top:34px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:84px;
}
#u3011 {
  position:absolute;
  left:408px;
  top:115px;
  width:173px;
  height:84px;
}
#u3012 {
  position:absolute;
  left:2px;
  top:34px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:84px;
}
#u3013 {
  position:absolute;
  left:581px;
  top:115px;
  width:161px;
  height:84px;
}
#u3014 {
  position:absolute;
  left:2px;
  top:34px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:84px;
}
#u3015 {
  position:absolute;
  left:742px;
  top:115px;
  width:163px;
  height:84px;
}
#u3016 {
  position:absolute;
  left:2px;
  top:34px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:84px;
}
#u3017 {
  position:absolute;
  left:905px;
  top:115px;
  width:238px;
  height:84px;
}
#u3018 {
  position:absolute;
  left:2px;
  top:26px;
  width:234px;
  word-wrap:break-word;
}
#u3019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3019 {
  position:absolute;
  left:126px;
  top:507px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3020 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3021 {
  position:absolute;
  left:212px;
  top:568px;
  width:102px;
  height:25px;
}
#u3021_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3022 {
  position:absolute;
  left:133px;
  top:571px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3023 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3024 {
  position:absolute;
  left:358px;
  top:571px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3025 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3026 {
  position:absolute;
  left:441px;
  top:571px;
  width:90px;
  height:22px;
}
#u3026_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3026_input:disabled {
  color:grayText;
}
#u3027 {
  position:absolute;
  left:658px;
  top:568px;
  width:102px;
  height:25px;
}
#u3027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3028 {
  position:absolute;
  left:576px;
  top:571px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3029 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3030 {
  position:absolute;
  left:785px;
  top:564px;
  width:80px;
  height:31px;
}
#u3031 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
