body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2334px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6893 {
  position:absolute;
  left:104px;
  top:166px;
  width:2235px;
  height:237px;
}
#u6894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:39px;
}
#u6894 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:39px;
}
#u6895 {
  position:absolute;
  left:2px;
  top:12px;
  width:137px;
  word-wrap:break-word;
}
#u6896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:39px;
}
#u6896 {
  position:absolute;
  left:141px;
  top:0px;
  width:162px;
  height:39px;
}
#u6897 {
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u6898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:39px;
}
#u6898 {
  position:absolute;
  left:303px;
  top:0px;
  width:159px;
  height:39px;
}
#u6899 {
  position:absolute;
  left:2px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u6900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:39px;
}
#u6900 {
  position:absolute;
  left:462px;
  top:0px;
  width:162px;
  height:39px;
}
#u6901 {
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u6902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:39px;
}
#u6902 {
  position:absolute;
  left:624px;
  top:0px;
  width:146px;
  height:39px;
}
#u6903 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u6904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:39px;
}
#u6904 {
  position:absolute;
  left:770px;
  top:0px;
  width:159px;
  height:39px;
  color:#FF0000;
}
#u6905 {
  position:absolute;
  left:2px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u6906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:39px;
}
#u6906 {
  position:absolute;
  left:929px;
  top:0px;
  width:179px;
  height:39px;
}
#u6907 {
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  word-wrap:break-word;
}
#u6908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:39px;
}
#u6908 {
  position:absolute;
  left:1108px;
  top:0px;
  width:160px;
  height:39px;
}
#u6909 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u6910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:39px;
}
#u6910 {
  position:absolute;
  left:1268px;
  top:0px;
  width:159px;
  height:39px;
}
#u6911 {
  position:absolute;
  left:2px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u6912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:39px;
}
#u6912 {
  position:absolute;
  left:1427px;
  top:0px;
  width:166px;
  height:39px;
}
#u6913 {
  position:absolute;
  left:2px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u6914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:39px;
}
#u6914 {
  position:absolute;
  left:1593px;
  top:0px;
  width:157px;
  height:39px;
}
#u6915 {
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  word-wrap:break-word;
}
#u6916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:39px;
}
#u6916 {
  position:absolute;
  left:1750px;
  top:0px;
  width:159px;
  height:39px;
}
#u6917 {
  position:absolute;
  left:2px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u6918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:39px;
}
#u6918 {
  position:absolute;
  left:1909px;
  top:0px;
  width:159px;
  height:39px;
}
#u6919 {
  position:absolute;
  left:2px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u6920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:39px;
}
#u6920 {
  position:absolute;
  left:2068px;
  top:0px;
  width:162px;
  height:39px;
}
#u6921 {
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  word-wrap:break-word;
}
#u6922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:61px;
}
#u6922 {
  position:absolute;
  left:0px;
  top:39px;
  width:141px;
  height:61px;
}
#u6923 {
  position:absolute;
  left:2px;
  top:22px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:61px;
}
#u6924 {
  position:absolute;
  left:141px;
  top:39px;
  width:162px;
  height:61px;
}
#u6925 {
  position:absolute;
  left:2px;
  top:22px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:61px;
}
#u6926 {
  position:absolute;
  left:303px;
  top:39px;
  width:159px;
  height:61px;
}
#u6927 {
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:61px;
}
#u6928 {
  position:absolute;
  left:462px;
  top:39px;
  width:162px;
  height:61px;
}
#u6929 {
  position:absolute;
  left:2px;
  top:22px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:61px;
}
#u6930 {
  position:absolute;
  left:624px;
  top:39px;
  width:146px;
  height:61px;
}
#u6931 {
  position:absolute;
  left:2px;
  top:22px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:61px;
}
#u6932 {
  position:absolute;
  left:770px;
  top:39px;
  width:159px;
  height:61px;
}
#u6933 {
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:61px;
}
#u6934 {
  position:absolute;
  left:929px;
  top:39px;
  width:179px;
  height:61px;
  color:#0099FF;
}
#u6935 {
  position:absolute;
  left:2px;
  top:22px;
  width:175px;
  word-wrap:break-word;
}
#u6936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:61px;
}
#u6936 {
  position:absolute;
  left:1108px;
  top:39px;
  width:160px;
  height:61px;
  color:#0099FF;
}
#u6937 {
  position:absolute;
  left:2px;
  top:22px;
  width:156px;
  word-wrap:break-word;
}
#u6938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:61px;
}
#u6938 {
  position:absolute;
  left:1268px;
  top:39px;
  width:159px;
  height:61px;
  color:#0099FF;
}
#u6939 {
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u6940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:61px;
}
#u6940 {
  position:absolute;
  left:1427px;
  top:39px;
  width:166px;
  height:61px;
  color:#0099FF;
}
#u6941 {
  position:absolute;
  left:2px;
  top:22px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:61px;
}
#u6942 {
  position:absolute;
  left:1593px;
  top:39px;
  width:157px;
  height:61px;
  color:#0099FF;
}
#u6943 {
  position:absolute;
  left:2px;
  top:22px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:61px;
}
#u6944 {
  position:absolute;
  left:1750px;
  top:39px;
  width:159px;
  height:61px;
  color:#0099FF;
}
#u6945 {
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u6946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:61px;
}
#u6946 {
  position:absolute;
  left:1909px;
  top:39px;
  width:159px;
  height:61px;
  color:#0099FF;
}
#u6947 {
  position:absolute;
  left:2px;
  top:22px;
  width:155px;
  word-wrap:break-word;
}
#u6948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:61px;
}
#u6948 {
  position:absolute;
  left:2068px;
  top:39px;
  width:162px;
  height:61px;
}
#u6949 {
  position:absolute;
  left:2px;
  top:6px;
  width:158px;
  word-wrap:break-word;
}
#u6950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:66px;
}
#u6950 {
  position:absolute;
  left:0px;
  top:100px;
  width:141px;
  height:66px;
}
#u6951 {
  position:absolute;
  left:2px;
  top:25px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:66px;
}
#u6952 {
  position:absolute;
  left:141px;
  top:100px;
  width:162px;
  height:66px;
}
#u6953 {
  position:absolute;
  left:2px;
  top:25px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:66px;
}
#u6954 {
  position:absolute;
  left:303px;
  top:100px;
  width:159px;
  height:66px;
}
#u6955 {
  position:absolute;
  left:2px;
  top:25px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:66px;
}
#u6956 {
  position:absolute;
  left:462px;
  top:100px;
  width:162px;
  height:66px;
}
#u6957 {
  position:absolute;
  left:2px;
  top:25px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:66px;
}
#u6958 {
  position:absolute;
  left:624px;
  top:100px;
  width:146px;
  height:66px;
}
#u6959 {
  position:absolute;
  left:2px;
  top:25px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:66px;
}
#u6960 {
  position:absolute;
  left:770px;
  top:100px;
  width:159px;
  height:66px;
}
#u6961 {
  position:absolute;
  left:2px;
  top:25px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:66px;
}
#u6962 {
  position:absolute;
  left:929px;
  top:100px;
  width:179px;
  height:66px;
}
#u6963 {
  position:absolute;
  left:2px;
  top:25px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:66px;
}
#u6964 {
  position:absolute;
  left:1108px;
  top:100px;
  width:160px;
  height:66px;
}
#u6965 {
  position:absolute;
  left:2px;
  top:25px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:66px;
}
#u6966 {
  position:absolute;
  left:1268px;
  top:100px;
  width:159px;
  height:66px;
}
#u6967 {
  position:absolute;
  left:2px;
  top:25px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:66px;
}
#u6968 {
  position:absolute;
  left:1427px;
  top:100px;
  width:166px;
  height:66px;
}
#u6969 {
  position:absolute;
  left:2px;
  top:25px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:66px;
}
#u6970 {
  position:absolute;
  left:1593px;
  top:100px;
  width:157px;
  height:66px;
}
#u6971 {
  position:absolute;
  left:2px;
  top:25px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:66px;
}
#u6972 {
  position:absolute;
  left:1750px;
  top:100px;
  width:159px;
  height:66px;
}
#u6973 {
  position:absolute;
  left:2px;
  top:25px;
  width:155px;
  word-wrap:break-word;
}
#u6974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:66px;
}
#u6974 {
  position:absolute;
  left:1909px;
  top:100px;
  width:159px;
  height:66px;
  color:#0099FF;
}
#u6975 {
  position:absolute;
  left:2px;
  top:25px;
  width:155px;
  word-wrap:break-word;
}
#u6976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:66px;
}
#u6976 {
  position:absolute;
  left:2068px;
  top:100px;
  width:162px;
  height:66px;
}
#u6977 {
  position:absolute;
  left:2px;
  top:9px;
  width:158px;
  word-wrap:break-word;
}
#u6978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:66px;
}
#u6978 {
  position:absolute;
  left:0px;
  top:166px;
  width:141px;
  height:66px;
}
#u6979 {
  position:absolute;
  left:2px;
  top:25px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:66px;
}
#u6980 {
  position:absolute;
  left:141px;
  top:166px;
  width:162px;
  height:66px;
}
#u6981 {
  position:absolute;
  left:2px;
  top:25px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:66px;
}
#u6982 {
  position:absolute;
  left:303px;
  top:166px;
  width:159px;
  height:66px;
}
#u6983 {
  position:absolute;
  left:2px;
  top:25px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:66px;
}
#u6984 {
  position:absolute;
  left:462px;
  top:166px;
  width:162px;
  height:66px;
}
#u6985 {
  position:absolute;
  left:2px;
  top:25px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:66px;
}
#u6986 {
  position:absolute;
  left:624px;
  top:166px;
  width:146px;
  height:66px;
}
#u6987 {
  position:absolute;
  left:2px;
  top:25px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:66px;
}
#u6988 {
  position:absolute;
  left:770px;
  top:166px;
  width:159px;
  height:66px;
}
#u6989 {
  position:absolute;
  left:2px;
  top:25px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:66px;
}
#u6990 {
  position:absolute;
  left:929px;
  top:166px;
  width:179px;
  height:66px;
}
#u6991 {
  position:absolute;
  left:2px;
  top:25px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:66px;
}
#u6992 {
  position:absolute;
  left:1108px;
  top:166px;
  width:160px;
  height:66px;
}
#u6993 {
  position:absolute;
  left:2px;
  top:25px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:66px;
}
#u6994 {
  position:absolute;
  left:1268px;
  top:166px;
  width:159px;
  height:66px;
}
#u6995 {
  position:absolute;
  left:2px;
  top:25px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:66px;
}
#u6996 {
  position:absolute;
  left:1427px;
  top:166px;
  width:166px;
  height:66px;
}
#u6997 {
  position:absolute;
  left:2px;
  top:25px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:66px;
}
#u6998 {
  position:absolute;
  left:1593px;
  top:166px;
  width:157px;
  height:66px;
}
#u6999 {
  position:absolute;
  left:2px;
  top:25px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:66px;
}
#u7000 {
  position:absolute;
  left:1750px;
  top:166px;
  width:159px;
  height:66px;
}
#u7001 {
  position:absolute;
  left:2px;
  top:25px;
  width:155px;
  word-wrap:break-word;
}
#u7002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:66px;
}
#u7002 {
  position:absolute;
  left:1909px;
  top:166px;
  width:159px;
  height:66px;
}
#u7003 {
  position:absolute;
  left:2px;
  top:25px;
  width:155px;
  word-wrap:break-word;
}
#u7004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:66px;
}
#u7004 {
  position:absolute;
  left:2068px;
  top:166px;
  width:162px;
  height:66px;
}
#u7005 {
  position:absolute;
  left:2px;
  top:25px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7006 {
  position:absolute;
  left:104px;
  top:120px;
  width:120px;
  height:25px;
}
#u7006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7007 {
  position:absolute;
  left:234px;
  top:120px;
  width:120px;
  height:25px;
}
#u7007_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7008 {
  position:absolute;
  left:364px;
  top:120px;
  width:120px;
  height:25px;
}
#u7008_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7009 {
  position:absolute;
  left:104px;
  top:75px;
  width:91px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7011 {
  position:absolute;
  left:226px;
  top:68px;
  width:99px;
  height:35px;
}
#u7012 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u7013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:351px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7013 {
  position:absolute;
  left:538px;
  top:548px;
  width:300px;
  height:351px;
}
#u7014 {
  position:absolute;
  left:2px;
  top:168px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7015 {
  position:absolute;
  left:558px;
  top:572px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7016 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7017 {
  position:absolute;
  left:612px;
  top:617px;
  width:205px;
  height:25px;
}
#u7017_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7018 {
  position:absolute;
  left:637px;
  top:814px;
  width:103px;
  height:35px;
}
#u7019 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u7020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7020 {
  position:absolute;
  left:612px;
  top:652px;
  width:101px;
  height:16px;
  color:#000000;
}
#u7021 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u7022 {
  position:absolute;
  left:612px;
  top:740px;
  width:205px;
  height:25px;
}
#u7022_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7023 {
  position:absolute;
  left:563px;
  top:622px;
  width:39px;
  height:16px;
  color:#000000;
}
#u7024 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u7025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7025 {
  position:absolute;
  left:550px;
  top:744px;
  width:53px;
  height:16px;
  color:#000000;
}
#u7026 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7027 {
  position:absolute;
  left:649px;
  top:120px;
  width:120px;
  height:25px;
}
#u7027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7028 {
  position:absolute;
  left:793px;
  top:120px;
  width:120px;
  height:25px;
}
#u7028_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7029 {
  position:absolute;
  left:612px;
  top:691px;
  width:205px;
  height:25px;
}
#u7029_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u7030 {
  position:absolute;
  left:550px;
  top:695px;
  width:53px;
  height:16px;
  color:#000000;
}
#u7031 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7032 {
  position:absolute;
  left:502px;
  top:120px;
  width:128px;
  height:25px;
}
#u7032_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
