body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0 {
  position:absolute;
  left:57px;
  top:61px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:444px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:836px;
  top:61px;
  width:413px;
  height:444px;
}
#u4 {
  position:absolute;
  left:2px;
  top:214px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:854px;
  top:74px;
  width:144px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7 {
  position:absolute;
  left:855px;
  top:131px;
  width:375px;
  height:364px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u9 {
  position:absolute;
  left:228px;
  top:331px;
  width:36px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(249, 247, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
}
#u11 {
  position:absolute;
  left:119px;
  top:380px;
  width:65px;
  height:25px;
  font-family:'PingFang SC 常规', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:893px;
}
#u13 {
  position:absolute;
  left:461px;
  top:61px;
  width:350px;
  height:893px;
}
#u14 {
  position:absolute;
  left:2px;
  top:438px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  position:absolute;
  left:470px;
  top:321px;
  width:340px;
  height:513px;
}
#u16 {
  position:absolute;
  left:2px;
  top:248px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17 {
  position:absolute;
  left:604px;
  top:483px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:689px;
  top:131px;
  width:112px;
  height:72px;
}
#u20 {
  position:absolute;
  left:2px;
  top:28px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
