body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1969px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:935px;
  width:216px;
  height:107px;
  font-size:16px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:212px;
  word-wrap:break-word;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:935px;
  width:216px;
  height:107px;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:212px;
  word-wrap:break-word;
}
#u710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:935px;
  width:216px;
  height:107px;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:212px;
  word-wrap:break-word;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:935px;
  width:216px;
  height:107px;
  font-size:16px;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:212px;
  word-wrap:break-word;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:989px;
  width:0px;
  height:0px;
}
#u712_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:122px;
  height:8px;
}
#u712_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-10px;
  width:20px;
  height:20px;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:989px;
  width:0px;
  height:0px;
}
#u713_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:119px;
  height:8px;
}
#u713_seg1 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-10px;
  width:20px;
  height:20px;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:989px;
  width:0px;
  height:0px;
}
#u714_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u714_seg1 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:297px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:564px;
  width:568px;
  height:297px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  word-wrap:break-word;
}
#u716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:281px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:564px;
  width:698px;
  height:281px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  word-wrap:break-word;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:564px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:1270px;
  width:788px;
  height:564px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  word-wrap:break-word;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:1185px;
  width:579px;
  height:295px;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
  color:#FF0000;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:40px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:0px;
  width:231px;
  height:40px;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:227px;
  word-wrap:break-word;
}
#u721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:0px;
  width:232px;
  height:40px;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:228px;
  word-wrap:break-word;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:40px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:116px;
  height:40px;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:40px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:40px;
  width:231px;
  height:40px;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:227px;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:40px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:40px;
  width:232px;
  height:40px;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:228px;
  word-wrap:break-word;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:35px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:116px;
  height:35px;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:35px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:80px;
  width:231px;
  height:35px;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:35px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:80px;
  width:232px;
  height:35px;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:116px;
  height:36px;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:115px;
  width:231px;
  height:36px;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:36px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:115px;
  width:232px;
  height:36px;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:151px;
  width:116px;
  height:36px;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:151px;
  width:231px;
  height:36px;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:36px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:151px;
  width:232px;
  height:36px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:187px;
  width:116px;
  height:36px;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:187px;
  width:231px;
  height:36px;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:36px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:187px;
  width:232px;
  height:36px;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:223px;
  width:116px;
  height:36px;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:223px;
  width:231px;
  height:36px;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:36px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:223px;
  width:232px;
  height:36px;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:259px;
  width:116px;
  height:36px;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:259px;
  width:231px;
  height:36px;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:36px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:259px;
  width:232px;
  height:36px;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:1567px;
  width:946px;
  height:181px;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:37px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:37px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:0px;
  width:171px;
  height:37px;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:37px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:0px;
  width:172px;
  height:37px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:168px;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:37px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:0px;
  width:235px;
  height:37px;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:231px;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:37px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:0px;
  width:254px;
  height:37px;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:48px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:114px;
  height:48px;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:110px;
  word-wrap:break-word;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:48px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:37px;
  width:171px;
  height:48px;
  font-size:14px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:167px;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:48px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:37px;
  width:172px;
  height:48px;
  font-size:14px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:48px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:37px;
  width:235px;
  height:48px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:231px;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:48px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:37px;
  width:254px;
  height:48px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:250px;
  word-wrap:break-word;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:48px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:114px;
  height:48px;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:110px;
  word-wrap:break-word;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:48px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:85px;
  width:171px;
  height:48px;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:167px;
  word-wrap:break-word;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:48px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:85px;
  width:172px;
  height:48px;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:48px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:85px;
  width:235px;
  height:48px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:231px;
  word-wrap:break-word;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:48px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:85px;
  width:254px;
  height:48px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:250px;
  word-wrap:break-word;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:48px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:114px;
  height:48px;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:110px;
  word-wrap:break-word;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:48px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:133px;
  width:171px;
  height:48px;
}
#u760_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:167px;
  word-wrap:break-word;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:48px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:133px;
  width:172px;
  height:48px;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:48px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:133px;
  width:235px;
  height:48px;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:231px;
  word-wrap:break-word;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:48px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:133px;
  width:254px;
  height:48px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:250px;
  word-wrap:break-word;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  height:710px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:1939px;
  width:788px;
  height:710px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:788px;
  word-wrap:break-word;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1755px;
  height:2px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:1146px;
  width:1754px;
  height:1px;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1755px;
  height:2px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:1874px;
  width:1754px;
  height:1px;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:500px;
  width:541px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  word-wrap:break-word;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:68px;
  width:568px;
  height:347px;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:62px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:289px;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:62px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:0px;
  width:275px;
  height:62px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:271px;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:35px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:293px;
  height:35px;
  font-size:16px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:289px;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:35px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:62px;
  width:275px;
  height:35px;
  font-size:16px;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:271px;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:36px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:97px;
  width:293px;
  height:36px;
  font-size:16px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:289px;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:36px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:97px;
  width:275px;
  height:36px;
  font-size:16px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:271px;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:40px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:293px;
  height:40px;
  font-size:16px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:289px;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:40px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:133px;
  width:275px;
  height:40px;
  font-size:16px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:271px;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:36px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:293px;
  height:36px;
  font-size:16px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:289px;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:36px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:173px;
  width:275px;
  height:36px;
  font-size:16px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:138px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:209px;
  width:293px;
  height:138px;
  font-size:16px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:289px;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:138px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:209px;
  width:275px;
  height:138px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1755px;
  height:2px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:459px;
  width:1754px;
  height:1px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:2298px;
  width:438px;
  height:156px;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:0px;
  width:219px;
  height:30px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:36px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:219px;
  height:36px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:36px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:30px;
  width:219px;
  height:36px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:219px;
  height:30px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:66px;
  width:219px;
  height:30px;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:219px;
  height:30px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:96px;
  width:219px;
  height:30px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:219px;
  height:30px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:30px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:126px;
  width:219px;
  height:30px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:215px;
  word-wrap:break-word;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:2298px;
  width:574px;
  height:306px;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:0px;
  width:199px;
  height:30px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:0px;
  width:164px;
  height:30px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:36px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:211px;
  height:36px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:36px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:30px;
  width:199px;
  height:36px;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:195px;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:36px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:30px;
  width:164px;
  height:36px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:211px;
  height:30px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:66px;
  width:199px;
  height:30px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:66px;
  width:164px;
  height:30px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:211px;
  height:30px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:96px;
  width:199px;
  height:30px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:96px;
  width:164px;
  height:30px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:211px;
  height:30px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:126px;
  width:199px;
  height:30px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:126px;
  width:164px;
  height:30px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:211px;
  height:30px;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:156px;
  width:199px;
  height:30px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:156px;
  width:164px;
  height:30px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:186px;
  width:211px;
  height:30px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:186px;
  width:199px;
  height:30px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:186px;
  width:164px;
  height:30px;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:216px;
  width:211px;
  height:30px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:216px;
  width:199px;
  height:30px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:216px;
  width:164px;
  height:30px;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:246px;
  width:211px;
  height:30px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:246px;
  width:199px;
  height:30px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:246px;
  width:164px;
  height:30px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:276px;
  width:211px;
  height:30px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:276px;
  width:199px;
  height:30px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:276px;
  width:164px;
  height:30px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
